<?php

// $services["declarvins"]["api_secret"] = "******************";
// $services["odgrhone"]["api_secret"] = "******************";
// $services["igpvaucluse"]["api_secret"] = "******************";
// $services["odgprovence"]["api_secret"] = "******************";


